{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'clients/js/clients.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Clients</h1>

  <p>
    <button type="button" class="btn btn-primary js-create-client" data-url="{% url 'client_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New client
    </button>
  </p>

  <table class="table" id="client-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Account Manager</th>
        <th>Type</th>
        <th>Installation date</th>
        <th>Capacity (MB)</th>
        <th>Monthly Charge</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'clients/includes/partial_client_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-client">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}